.badge {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-xs) 12px;
  border-radius: 80px;
  background-color: var(--color-white-16);
  color: var(--color-white);
  width: fit-content;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.text {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
}
