.mobileCircle {
  position: absolute;
  bottom:51dvh;
  right: -90px;
  width: 300px;
  height: 300px;
  background-color: var(--circle-bg-color);
  border: 4px solid var(--circle-border-color);
  border-radius: 50%;
}

.mobileAvatar {
  position: absolute;
  bottom: 35px;
  right:60px;


  svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}